<form>
  <div class="row">
    <div class="col">
      <label>Origin DDD</label>
      <select name="selectregion" class="form-control" [(ngModel)]="makeListOriginRegion" (ngModelChange)="originOnchange($event)">        
        <option *ngFor="let region of regions" [ngValue]="region.region">{{region.areaCode}}</option>
      </select>
      <strong>{{OriginCity}}</strong>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label>Destiny DDD</label>
      <select name="selectdestiny" class="form-control" [(ngModel)]="makeListDestinyRegion" (ngModelChange)="destinyOnchange($event)">        
        <option *ngFor="let region of regions" [ngValue]="region.region">{{region.areaCode}}</option>
      </select>
      <strong>{{DestinyCity}}</strong>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label>Plans</label>
      <select name="selecplan" class="form-control" [(ngModel)]="makeListPlan" (ngModelChange)="planOnChange($event)">        
        <option *ngFor="let plan of plans" [ngValue]="plan.code">{{plan.name}}</option>
      </select>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <label>Time duration (minutes)</label>
      <input type="text"  class="form-control" [(ngModel)]="Minute" [ngModelOptions]="{standalone: true}"/>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col">
      <button class="btn btn-primary" (click)="btnCalculatte();">Calcular</button>
    </div>
  </div>
</form>
